<html>
    <head>
        <script src="https://login.persona.org/include.js"></script>
        <link rel="stylesheet" href="css/persona-buttons.css" />
    </head>
    <body>
        <a href="#" id="logout" class="persona-button"><span>Logout of TWDTalks</span></a>
        <p>
            Welcome to the TWD talk manager.
        </p>
        <p>
            To add a talk to the list, click <a href="addTalk">Here.</a>
        </p>
        <p>
            Otherwise, click <a href="voteTalk">here</a>
        </p>
        <script src="js/logout.js"></script>
    </body>
</html>
